@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(135deg, var(--background), var(--form-background));
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.form-wrapper {
    background-color: red;
    max-width: 45vw;
    max-height: 80vh;
    margin: 10vh auto;
}

.form-container {
    background-color: yellow;
    color: #002333;
    display: flex;
    align-items: stretch;
}

.form-left {
    background-color: var(--background);
    color: var(--text-base);
    font-family: 'Poppins', sans-serif;
}

.form-left .header {
    padding: 10px;
}

.form-left .form-box {
    background-color: var(--form-background);
    border-radius: 4px;
    padding: 30px;
}

.form-left .form-box form input.email_inp,
.form-left .form-box form input.password_inp {
    border: 2px solid #868686;
    border-radius: 4px;
    height: 44px;
    width: 100%;
    opacity: 0.1;
}

.form-left .form-title {
    padding: 10px;
}

.form-left .form-title img {
    color: var(--primary-color);
}

form .lembrete {
    display: flex;
    justify-content: space-between;
}

form .lembrete .esqueci a {
    color: var(--primary-color);
    text-decoration: none;
}

form .entrar input {
    background-color: var(--primary-color);
    border-radius: 4px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 10px;

    width: 100%;
}

form .registrar_conta span {
    color: var(--primary-color);
    justify-content: center;
}

form .registrar_conta a.register {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

.form-right {
    background-color: blue;
    padding: 20px;
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    background-image: url("./assets/side-image-2x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    font-family: 'Roboto', sans-serif;

}

.form-right::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(240deg, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1)100%);
}

.content {
    color: var(--text-title);
    z-index: 9;
}

.content h3 {
    font-size: 38px;
    line-height: 48px;
    position: relative;
    font-weight: 600;
    margin-bottom: 50px;
    letter-spacing: -0.5;
}

.content::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 6px;
    background: var(--primary-color);
    bottom: 196px;
}

.content p {
    font-size: 22px;
    line-height: 22px;
}


@media (max-width:678px) {
    body {
        background: none;
        padding: 0;
        margin: 0;
    }

    .form-wrapper {
        max-height: 100vh;
        max-width: 100vw;
        padding-top: 20px;
    }

    .form-container {
        position: relative;
    }

    .form-right {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .form-right::before {
        background: linear-gradient(135deg, #fffeb2 10%, #1904e5 100%);
        opacity: 0.5;
    }

    .form-right .content {
        display: none;
        flex-basis: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(245, 245, 245, 0.7);
    }

}